<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>

  <tbody>
    <div class="container-fluid">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-2 col-md-4">
            <a href="#"><h1><%= product.name %></h1></a>
            <p><%= product.description %></p>
            <p><%= image_tag(product.image_url, class: "img-responsive") %></p>
            <p><%= product.colour %></p>
            <strong><%= number_to_currency("#{product.price}") %></strong>
          </div><!-- /col -->
        <% end %>
      </div>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
